* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

[x-cloak] {
  display: none !important;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
  flex-wrap: wrap;
  text-align: center;
}

li {
  width: 100%;
}

nav {
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  padding: 1%;
  margin: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  color: #fff;
  font-size: 1.4rem;
}

nav a:hover {
  font-size: 1.5rem;
}

img {
  width: 20%;
}

div {
  margin: 2%;
  padding: 0.5%;
  border: 2px solid #7b7b7b;
}

.news-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.hidden {
  display: none;
}

/* Navigation styles */
nav {
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  padding: 1%;
  margin: 0;
  border: none;
}
